<section class="team">
  <div class="container">
    <h2 class="our-team-title">Our Team</h2>
    <ul class="our-team-list">
      <li class="our-team-item">
        <img
          src="./images/Mark.jpg"
          alt="Mark Guerrero"
          width="264"
          height="260"
        />
        <div class="our-team-info">
          <h3 class="our-team-name">Mark Guerrero</h3>
          <p class="our-team-role">Product Designer</p>
          <ul class="our-team-icon-svg-container">
            <li class="our-team-icon-svg-container-item">
              <a
                class="social-link"
                href="https://www.instagram.com/"
                target="_blank"
              >
                <svg width="16" height="16" class="our-team-icon-svg">
                  <use href="./images/icons.svg#icon-instagram"></use>
                </svg>
              </a>
            </li>
            <li class="our-team-icon-svg-container-item">
              <a class="social-link" href="https://x.com/" target="_blank">
                <svg width="16" height="16" class="our-team-icon-svg">
                  <use href="./images/icons.svg#icon-twitter"></use>
                </svg>
              </a>
            </li>
            <li class="our-team-icon-svg-container-item">
              <a
                class="social-link"
                href="https://www.facebook.com/"
                target="_blank"
              >
                <svg width="16" height="16" class="our-team-icon-svg">
                  <use href="./images/icons.svg#icon-facebook"></use>
                </svg>
              </a>
            </li>
            <li class="our-team-icon-svg-container-item">
              <a
                class="social-link"
                href="https://ua.linkedin.com/"
                target="_blank"
              >
                <svg width="16" height="16" class="our-team-icon-svg">
                  <use href="./images/icons.svg#icon-linkedin"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
      </li>
      <li class="our-team-item">
        <img src="./images/Tom.jpg" alt="Tom Ford" width="264" height="260" />
        <div class="our-team-info">
          <h3 class="our-team-name">Tom Ford</h3>
          <p class="our-team-role">Frontend Developer</p>
          <ul class="our-team-icon-svg-container">
            <li class="our-team-icon-svg-container-item">
              <a
                class="social-link"
                href="https://www.instagram.com/"
                target="_blank"
              >
                <svg width="16" height="16" class="our-team-icon-svg">
                  <use href="./images/icons.svg#icon-instagram"></use>
                </svg>
              </a>
            </li>
            <li class="our-team-icon-svg-container-item">
              <a class="social-link" href="https://x.com/" target="_blank">
                <svg width="16" height="16" class="our-team-icon-svg">
                  <use href="./images/icons.svg#icon-twitter"></use>
                </svg>
              </a>
            </li>
            <li class="our-team-icon-svg-container-item">
              <a
                class="social-link"
                href="https://www.facebook.com/"
                target="_blank"
              >
                <svg width="16" height="16" class="our-team-icon-svg">
                  <use href="./images/icons.svg#icon-facebook"></use>
                </svg>
              </a>
            </li>
            <li class="our-team-icon-svg-container-item">
              <a
                class="social-link"
                href="https://ua.linkedin.com/"
                target="_blank"
              >
                <svg width="16" height="16" class="our-team-icon-svg">
                  <use href="./images/icons.svg#icon-linkedin"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
      </li>
      <li class="our-team-item">
        <img
          src="./images/Camila.jpg"
          alt="Camila Garcia"
          width="264"
          height="260"
        />
        <div class="our-team-info">
          <h3 class="our-team-name">Camila Garcia</h3>
          <p class="our-team-role">Marketing</p>
          <ul class="our-team-icon-svg-container">
            <li class="our-team-icon-svg-container-item">
              <a
                class="social-link"
                href="https://www.instagram.com/"
                target="_blank"
              >
                <svg width="16" height="16" class="our-team-icon-svg">
                  <use href="./images/icons.svg#icon-instagram"></use>
                </svg>
              </a>
            </li>
            <li class="our-team-icon-svg-container-item">
              <a class="social-link" href="https://x.com/" target="_blank">
                <svg width="16" height="16" class="our-team-icon-svg">
                  <use href="./images/icons.svg#icon-twitter"></use>
                </svg>
              </a>
            </li>
            <li class="our-team-icon-svg-container-item">
              <a
                class="social-link"
                href="https://www.facebook.com/"
                target="_blank"
              >
                <svg width="16" height="16" class="our-team-icon-svg">
                  <use href="./images/icons.svg#icon-facebook"></use>
                </svg>
              </a>
            </li>
            <li class="our-team-icon-svg-container-item">
              <a
                class="social-link"
                href="https://ua.linkedin.com/"
                target="_blank"
              >
                <svg width="16" height="16" class="our-team-icon-svg">
                  <use href="./images/icons.svg#icon-linkedin"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
      </li>
      <li class="our-team-item">
        <img
          src="./images/Daniel.jpg"
          alt="Daniel Wilson"
          width="264"
          height="260"
        />
        <div class="our-team-info">
          <h3 class="our-team-name">Daniel Wilson</h3>
          <p class="our-team-role">UI Designer</p>
          <ul class="our-team-icon-svg-container">
            <li class="our-team-icon-svg-container-item">
              <a
                class="social-link"
                href="https://www.instagram.com/"
                target="_blank"
              >
                <svg width="16" height="16" class="our-team-icon-svg">
                  <use href="./images/icons.svg#icon-instagram"></use>
                </svg>
              </a>
            </li>
            <li class="our-team-icon-svg-container-item">
              <a class="social-link" href="https://x.com/" target="_blank">
                <svg width="16" height="16" class="our-team-icon-svg">
                  <use href="./images/icons.svg#icon-twitter"></use>
                </svg>
              </a>
            </li>
            <li class="our-team-icon-svg-container-item">
              <a
                class="social-link"
                href="https://www.facebook.com/"
                target="_blank"
              >
                <svg width="16" height="16" class="our-team-icon-svg">
                  <use href="./images/icons.svg#icon-facebook"></use>
                </svg>
              </a>
            </li>
            <li class="our-team-icon-svg-container-item">
              <a
                class="social-link"
                href="https://ua.linkedin.com/"
                target="_blank"
              >
                <svg width="16" height="16" class="our-team-icon-svg">
                  <use href="./images/icons.svg#icon-linkedin"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
      </li>
    </ul>
  </div>
</section>
