<section class="portfolio-section">
  <div class="container">
    <h2 class="portfolio">Our Portfolio</h2>
    <ul class="portfolio-list">
      <li class="portfolio-item">
        <div class="portfolio-item-overlay-box">
          <img src="./images/Banking-App.jpg" alt="Banking App" width="360" />
          <p class="portfolio-item-overlay">
            14 Stylish and User-Friendly App Design Concepts · Task Manager App
            · Calorie Tracker App · Exotic Fruit Ecommerce App · Cloud Storage
            App
          </p>
        </div>
        <div class="portfolio-info">
          <h3 class="portfolio-h">Banking App</h3>
          <p class="portfolio-p">App</p>
        </div>
      </li>
      <li class="portfolio-item">
        <div class="portfolio-item-overlay-box">
          <img
            src="./images/Cashless-Payment.jpg"
            alt="Cashless Payment"
            width="360"
          />
          <p class="portfolio-item-overlay">
            14 Stylish and User-Friendly App Design Concepts · Task Manager App
            · Calorie Tracker App · Exotic Fruit Ecommerce App · Cloud Storage
            App
          </p>
        </div>
        <div class="portfolio-info">
          <h3 class="portfolio-h">Cashless Payment</h3>
          <p class="portfolio-p">Marketing</p>
        </div>
      </li>
      <li class="portfolio-item">
        <div class="portfolio-item-overlay-box">
          <img
            src="./images/Meditation-App.jpg"
            alt="Meditation App"
            width="360"
          />
          <p class="portfolio-item-overlay">
            14 Stylish and User-Friendly App Design Concepts · Task Manager App
            · Calorie Tracker App · Exotic Fruit Ecommerce App · Cloud Storage
            App
          </p>
        </div>
        <div class="portfolio-info">
          <h3 class="portfolio-h">Meditation App</h3>
          <p class="portfolio-p">App</p>
        </div>
      </li>
      <li class="portfolio-item">
        <div class="portfolio-item-overlay-box">
          <img src="./images/Taxi-Service.jpg" alt="Taxi Service" width="360" />
          <p class="portfolio-item-overlay">
            14 Stylish and User-Friendly App Design Concepts · Task Manager App
            · Calorie Tracker App · Exotic Fruit Ecommerce App · Cloud Storage
            App
          </p>
        </div>
        <div class="portfolio-info">
          <h3 class="portfolio-h">Taxi Service</h3>
          <p class="portfolio-p">Marketing</p>
        </div>
      </li>
      <li class="portfolio-item">
        <div class="portfolio-item-overlay-box">
          <img
            src="./images/Screen-Illustrations.jpg"
            alt="Screen Illustrations"
            width="360"
          />
          <p class="portfolio-item-overlay">
            14 Stylish and User-Friendly App Design Concepts · Task Manager App
            · Calorie Tracker App · Exotic Fruit Ecommerce App · Cloud Storage
            App
          </p>
        </div>
        <div class="portfolio-info">
          <h3 class="portfolio-h">Screen Illustrations</h3>
          <p class="portfolio-p">Design</p>
        </div>
      </li>
      <li class="portfolio-item">
        <div class="portfolio-item-overlay-box">
          <img
            src="./images/Online-Courses.jpg"
            alt="Online Courses"
            width="360"
          />
          <p class="portfolio-item-overlay">
            14 Stylish and User-Friendly App Design Concepts · Task Manager App
            · Calorie Tracker App · Exotic Fruit Ecommerce App · Cloud Storage
            App
          </p>
        </div>
        <div class="portfolio-info">
          <h3 class="portfolio-h">Online Courses</h3>
          <p class="portfolio-p">Marketing</p>
        </div>
      </li>
    </ul>
  </div>
</section>
